.container-new {
    justify-content: flex-end;
    padding-right: var(--bs-gutter-x,.75rem);
}

.ecart {
    padding-right: var(--bs-gutter-x,1rem);
}

.ecartGauche {
    padding-left: var(--bs-gutter-x,1rem);
    display: flex;
}

.image {
    height: 20px;
}