<div class="container">
    <h1 class="text-center">Ajout d'une recette</h1>
    <br />

    <form [formGroup]="addCookingRecipeForm" class="" (ngSubmit)="saveCookingRecipe()">
        <div class="d-flex justify-content-around">
            <div class="form-group w-50">
                <label class="form-label" for="name">Name</label>
                <input type="text" id="name" name="name" class="form-control" formControlName="name"
                    class="form-control" />
                <div *ngIf="!nameForm.valid && (nameForm.dirty || nameForm.touched)">
                    <small class="error" [hidden]="!nameForm.errors?.['required']">
                        Le nom est requis.
                    </small>
                </div>
            </div>
        </div>
        <br />
        <div class="d-flex justify-content-around">
            <div class="form-group">
                <label class="form-label" for="preparationTime">Temps de Préparation</label>
                <input type="time" id="preparationTime" name="preparationTime" class="form-control"
                    formControlName="preparationTime" class="form-control" />
                <div *ngIf="!preparationTimeForm.valid && (preparationTimeForm.dirty || preparationTimeForm.touched)">
                    <small class="error text-center" [hidden]="!preparationTimeForm.errors?.['required']">
                        Requis.
                    </small>
                </div>
            </div>
            <div class="form-group">
                <label class="form-label" for="cookingTime">Temps de cuisson</label>
                <input type="time" id="cookingTime" name="cookingTime" class="form-control"
                    formControlName="cookingTime" class="form-control" />
                <div *ngIf="!cookingTimeForm.valid && (cookingTimeForm.dirty || cookingTimeForm.touched)">
                    <small class="error text-center" [hidden]="!cookingTimeForm.errors?.['required']">
                        Requis.
                    </small>
                </div>
            </div>
        </div>
        <br />
        <div class="form-group">
            <label class="form-label" for="description">Description</label>
            <textarea id="description" name="description" formControlName="description" class="form-control"
                rows="10"></textarea>
            <div *ngIf="!descriptionForm.valid && (descriptionForm.dirty || descriptionForm.touched)">
                <small class="error" [hidden]="!descriptionForm.errors?.['required']">
                    La description est requise.
                </small>
                <small class="error" [hidden]="!descriptionForm.errors?.['maxlength']">
                    Un maximum de 10 000 caractères est attendu.
                </small>
            </div>
        </div>
        <br />

        <div class="form-group">
            <label class="form-label" for="categoryName">Catégorie</label>
            <select formControlName="categoryName" id="categoryName" name="categoryName" class="form-control">
                <option value="">-- catégorie --</option>
                <option *ngFor="let category of categories" [ngValue]="category">
                    {{ category.name }}
                </option>
            </select>
            <div *ngIf="!categoryForm.valid && (categoryForm.dirty || categoryForm.touched)">
                <small class="error" [hidden]="!categoryForm.errors?.['required']">
                    La catégorie est requise.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-label" for="typeName">Type</label>
            <select formControlName="typeName" id="typeName" name="typeName" class="form-control">
                <option value="">-- type --</option>
                <option *ngFor="let type of types" [ngValue]="type">
                    {{ type.name }}
                </option>
            </select>
        </div>

        <div class="form-group">
            <label class="form-label" for="typeName">Type</label>
            <ng-multiselect-dropdown [placeholder]="'-- ingredients --'" [settings]="dropdownSettings"
                [data]="ingredients" formControlName="ingredientsName" (onSelect)="onSelectIngredient($event)"
                (onSelectAll)="onSelectAllIngredient($event)" (onDeSelect)="onDeSelectIngredient($event)">
            </ng-multiselect-dropdown>
        </div>
        <div *ngIf="!ingredientsForm.valid && (ingredientsForm.dirty || ingredientsForm.touched)">
            <small class="error" [hidden]="!ingredientsForm.errors?.['required']">
                La liste des ingrédients est requise.
            </small>
        </div>


        <div class="d-flex justify-content-around form-group">
            <input type="submit" class="btn mt-3 btn-success" value="Ajouter"
                [disabled]="!addCookingRecipeForm.valid" />
        </div>
    </form>
    <!-- <app-success-sign-up [message]="message" *ngIf="message!=='null'" (close)="handleSuccess()"></app-success-sign-up> -->

    <!-- <span *ngIf="message!=='null'">{{message}}</span> -->

    <!-- </div> -->
    <!-- <div *ngIf="submitted">
            <h4>CookingRecipe was submitted successfully!</h4>
            <button class="btn btn-success" (click)="newCookingRecipe()">Add</button>
        </div> -->

</div>